# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec
*.log

# Environment & Secrets
.env
*.env
venv/
env/
.venv/
secrets/
pyvenv.cfg

# Logs
logs/
src/logs/

# OS / IDE specific
.idea/
.vscode/
*.swp
*~
.DS_Store

# Output
screenshots/
*.docx

# Miscellaneous
Lib/
share/
